.worth-heading {
  color: #84dbbe;
  font-size: 25px;
}
.image-align {
  text-align: center;
}
.list-item {
  margin-bottom: 10px;
}
.french-worth-image {
  width: 992px;
  height: 552px;
}
@media screen and (max-width: 768px) {
  .french-worth-image {
    width: 200px;
    height: 150px;
  }
}
