.learning-french-at-any-age-heading {
  font-family: 'Roboto';
  color: #5bb597;
  font-size: 25px;
}
.learning-french-at-any-age-description {
  font-family: 'Roboto';
  font-size: 15px;
}
.button-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learning-french-button {
  background-color: #8adec2;
  padding: 10px;
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 5px;
  border-width: 0px;
  color: #ffffff;
}
